<img src="images/intro-6.png" height=1000px width=1000px>

<h1 align="center" style="color:red" >Python-Tuples </h1>


#### [Click me to learn more about Python Tuples](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences)

<img align="center" width="800" height="800"  src="images/datatypes1.png">

In [ ]:
# lists are mutable where as tuples are immutable lists.

> **A Tuple is a numerically ordered sequence of elements that can store elements of heterogeneous types, is iterable, immutable and allows duplicate elements.**

<img src="images/tuple-1.png" height=1000px width=1000px>

- Like Lists, a Tuple in Python is also an ordered collection of values.
- Like Lists, a Tuple is created by placing comma separated values, but in parenthesis rather square brackets. 
- Like List, a Tuple also allows us to store elements of different data types in one container.
- Unlike List, it is not possible to add, remove, or modify values in a Tuple, so you can think of tuples as immutable Lists.
- Apart from this, every operation that we can perform on Lists that do not modify them, can be performed on Tuples as well.
- To be honest, Tuples are not used as often as Lists in programming, but are used when immutability is necessary.
- When to prefer Tuples over Lists?
    - While passing an object to a function, if you want to make sure that the object does not get changed, then Tuple become your solution. So Tuples provides a convenient source of data integrity.
    - Similarly, since functions can return only one value, if you want a function to return more than one value, you pack your result in a tuple and return it
    - Manipulating elements of a Tuple is far more efficient than manipulating elements of a List.
    - Tuples being immutable are used in Dictionaries as keys (which are immutable).

## Learning agenda of this notebook
1. How to create Tuples?
2. Proof of concepts: Tuples are heterogeneous, ordered, nested, immutable, and allow duplicate elements
3. Different ways to access elements of a Tuple?
4. Slicing a Tuple
5. Tuple concatenation and repetition
6. Being immutable, you cannot add elements to a Tuple
7. Being immutable, you cannot remove elemenst from a Tuple
8. Converting string object to Tuple and vice-versa (using type casting, `split()` and `join()`)
9. Tuple methods
10. Sorting a Tuple using built-in `sorted()` function

In [ ]:
help(tuple)

## 1. How to create Tuples?
- A Tuple is created by placing comma separated values in parenthesis (or without prenthesis as well)

In [ ]:
t1 = (1, 2, 3, 4, 5)   #tuple of integers
t1 = 1, 2, 3, 4, 5
print("t1: ", t1)

t2 = (2.3, 5.6, 1.8)  #tuple of floats
print("t2: ", t2)

t3 = ('hello', 'this', 'F', 'good show') #tuple of strings
print("t3: ", t3)

t4 = (True, False, True)    # tuple of boolean values
print("t4: ", t4)


print("Type of t4 is: ", type(t4))

In [ ]:
type(t2)

In [ ]:
# creating empty tuple
t5 = ()
print("t5: ", t5)

In [ ]:
# to create a tuple with only one element is a bit tricky
t6 = (25)       # note the comma, without it, Python will take it as int/float/string and not tuple
print("\nt6: ", t6)
print(type(t6))

In [ ]:
# to create a tuple with only one element is a bit tricky
t6 = (25,)       # note the comma, without it, Python will take it as int/float/string and not tuple
print("\nt6: ", t6)
print(type(t6))

In [ ]:
# Nested Tuple: a tuple can also have another tuple as an item
t1 = ("Ehtisham", 30, 5.5, (10,'Ali'))
print(t1)

In [ ]:
print(len(t1[3]))
t1[3]

In [ ]:
# Nested tuple: A tuple can also have another tuple, or list as an item
t1 = (1, "Hello", [8, 'OK', 6], (1, 2, 'BYE'), 5.5)

print("t1: ", t1)



print("Type of t1 is: ", type(t1))

## 2. Proof of Concepts:

### a. Tuples are Heterogeneous
- Like Lists, Tuples are heterogeneous, as their elements/items can be of any data type

In [ ]:
t1 = ("Ehtisham", 30, 5.5)

print("t1: ", t1)

### b. Tuples are ordered
- Like Lists Tuples are ordered.
- Tuples are ordered means every element is associated by an index.
- Every time you access tuple elements they will show up in same sequence. 
- Moreover, two tuples having same elements in different order are not same.

In [ ]:
a = (1, 2, 3)
b = (2, 3, 1)
print(id(a), id(b), a is b, a == b)

### c. Tuples are immutable
- Unlike Lists Tuples are immutable
- Means once a tuple object is created, you CANNOT make changes to it and modify its elements

In [ ]:
# Tuples are immutable, i.e., tuple elements cannot be changed
numbers = (10, 20, 30)
numbers[2] = 15    # this will generate an error

In [ ]:
# Tupple however can be reassigned
numbers = (10, 20, 30)
numbers = (1, 2, 3)  # A tupple can be reassigned
numbers

Remember the tuple object `(10,20,20)` in memory has become an orphan, since the numbers variable is now pointing to another tuple object `(1,2,3)` in memory. The unreferenced tuple object will be garbage collected by Python garbage collector

In [ ]:
# A List within a tuple is still mutable
t1 = (1, "Hello", [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
print(t1)
print(t1[2])

In [ ]:
t1[2][1] = 'Not OK'         # will work fine

t1

### d. Tuples can have duplicate elements

In [ ]:
# Like Lists, Tuples allow duplicate elements
names = ('Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Ehtisham')
print(names)

### e. Tuples can be nested to arbitrary depth
- Like Lists, you can have tuples within tuples and that can be done to an arbitrary depth. You are only restricted to the available memory on your system

In [ ]:
# A tuple having two sub-tuples within it
a = (1,2,3,(4,5),(6,7,8,9),10,11)
# A tuple having a sub-tuple, which is further having a sub-tuple and that again having a subtuple
b = (1,2,3,(4,5,(6,7,8,(9,10,11))))
a, b

### f. Packing and Unpacking Tuples

In [ ]:
# you can unpack tuple elements
t1 = ('Data', 'Science', 'Machine', 'Learning', 'Python')

a, b, c, d, e = t1 # the number of variables on the left must match the length of tuple

print (a, c, e)


print(type(a))

In [ ]:
# you can pack individual elements to a tuple
t1 = a,b,c,d,e
print(t1)
print(type(t1))

## 3. Different ways to access Elements of a Tuple
- Since Tuple like List is of type Sequence, and any component within a sequence can be accessed by entrying an index within square brackets. So naturally this must work for Tuple as well
- Similarly, if we want to find out the index of a specific item/character, we can use the `index()` method of Tuple class

In [ ]:
#You can access elements of tuple using indexing which starts from zero
t1 = ("Ehtisham", 30, 5.5, (10,'Ali'))

print(t1[2])       #accessing element of tuple at index2

print(t1[3])       #accessing element of tuple at index3, which is again a tuple

In [ ]:
#accessing Nested tuple element

print(t1[0][2])              #accessing third character of a tuple element at index 0

print(t1[3][1])              #accessing second element of Nested tuple at index 3

In [ ]:
#Negative indexing starts looking at the tuple from the right hand side
t1 = ("Ehtisham", 30, 5.5, (10,'Ali'))
print(t1[-1])                #accessing last element
print(t1[-2])                #accessing second last element
print(t1[-3])                #accessing second last element

In [ ]:
help(t1.index)

In [ ]:
# index(value) method is used when you know the tuple element and wants to get its index
# index(value) method returns the index of the first matched item with its only argument

mytuple = (27, 4.5, 'Ehtisham', 64, 'Ali', 19, 'Dua')

print("\nmytuple: ", mytuple)

print("mytuple.index(3): ", mytuple.index('Dua Sadiq'))

## 4. Slicing Tuples
- Like anyother sequence object we can perform slicing with tuples as well.
- Slicing is the process of obtaining a portion of a tuple by using its indices.
- Given a tuple, we can use the following template to slice it and obtain a sublist:
```
mytuple[start:end:step]
```

- **start** is the index from where we want the subtuple to start.If start is not provided, slicing starts from the beginning.
- **end** is the index where we want our subtuple to end (not inclusive in the subtuple). If end is not provided, slicing goes till the last element of the tuple.
- **step** is the step through which we want to skip elements in the tuple. The default step is 1, so we iterate through every element of the tuple.

In [ ]:
t1 = ('a','b','c','d','e','f','g','h','i')
t1

In [ ]:
t1[::]

In [ ]:
t1[3:]

In [ ]:
t1[:4]

In [ ]:
t1[2:5]

In [ ]:
t1[:-2]

In [ ]:
t1[-1]

In [ ]:
# Slicing by using strides/step
print(t1[::])  # A default step of 1
print(t1[::1])  # A step of 1
print(t1[::2])  # A step of 2
print(t1[::3])  # A step of 3

In [ ]:
# Reverse slicing
print(t1[::-1]) # Take 1 step back each time

print(t1[5:1:-1]) # Take 1 step back each time
#if start is less than end in case of a negative step, it will return empty string

print(t1[2:10:-1])

print(t1[::-2]) # Take 2 steps back

In [ ]:
# You CANNOT use slice operator on the left side of assignment as tuple is immutable
t1 = (1, 2, 3, 4, 5, 6, 7)
t1[2:4] = ['a', 'b', 'c']  # will generate an error as 'tuple' object does not support item assignment

## 5. Tuple Concatenation and Repetition
- The `+` operator is used to concatenate two or more tuples
- The `*` operator is used to repeat or replicate

### a. Concatenating Tuples

In [ ]:
# Add some elements to the end of an existing tuple using concatenation operator
a = (1,2,3)
b = a + (4,5)

# Add some elements to the beginning of an existing tuple using concatenation operator
c = (0,) + b
print(a, b, c)

In [ ]:
# use + operator to concatenate two tuples
food_items1 = ('fruits', 'bread', 'veggies')
food_items2 = ('meat', 'spices', 'burger')
food = food_items1 + food_items2
print(food)

In [ ]:
# You can concatenate two heterogeneous tuples
t1 = (5, 3.4, 'hello')
t2 = (31, 9.7, 'bye')
t3 = t1 + t2
print(t3)

In [ ]:
num1 = (1,2,3)
num2 = num1 + (4, 5, 6, (7, 8))
print (num2)

### b. Replicating Tuples

In [ ]:
# use tuple * n syntax to create large tuples by repeating the tuple n times
name = ('Ehtisham', 'Ali', 'Ayesha')
a = name * 3
print(a)

In [ ]:
#tuple of 100 A's
buf = ('A',)
newbuf = buf * 100
print(newbuf)
type(newbuf)

## 6. Being immutable, you cannot add elements to a tuple (in list this is possible using `append`, `extend`, and `insert`)

In [ ]:
myfamily = ("Ehtisham", 'Ali', 'Ayesha')


print("\n myfamily tuple: ", myfamily)

myfamily.insert(2,'Dua') # will generate an error as tuple object has no attribute 'insert'

## 7. Being immutable, you cannot remove elements from a tuple (in list this is possible using `pop` and `remove` methods)

In [ ]:
tuple1 = ('Introduction','to','Data', 'Science')

#You cannot delete items from a tuple using del keyword
# del tuple1[3]    # will generate an error as tuple object doesn't support item deletion

# However, you can assign a new tuple object to the reference tuple1
tuple1 = (1, 2, 3, 'Ehtisham')
# However, you can delete an entire tuple object using del keyword

del tuple1
print(tuple1)

## 8. Converting String object to List/Tuple and vice-versa

### a. Type Casting

In [ ]:
# convert a string into tuple using tuple()
str1 = 'Learning Data Science and Machine Learning'    #this is a string

print("Original string: ", str1, "and its type is:  ", type(str1))

t1 = tuple(str1)


print("\n\n")

print("t1: ", t1, "and its type is:  ", type(t1))

### b. Use `str.split()` to Split a String into Tuple
- Used to tokenize a string based on some delimiter, which can be stored in a tuple
- It returns a list, so we need to type cast the returned object to a tuple

In [ ]:
str1 = ""
help(str1.split)

In [ ]:
str1 = 'Learning Data Science and Machine Learning'    #this is a string
t1 = tuple(str1.split(' ')) # The split() method returns a list, which you can typecast to a tuple
print(t1)
print(type(t1))

In [ ]:
str2 = "Data Science is GR8 Degree"    #this is a string
t2 = tuple(str2.split('c'))
print(t2)
print(type(t2))

### c. Use `str.join()` to Join Strings into a Tuple
- The `str.join()` is the reverse of split() method, and is used to joing multiple strings by inserting the string in between on which this method is called
- Remember, you can pass any iterable as argument to `str.join()` method

In [ ]:
str = ""
help(str.join)

In [ ]:
t1 = ('This', 'is', 'getting', 'more', 'and', 'more', 'interesting')
t1

In [ ]:
str2 = ' '.join(t1)

print(str2, type(str2))

In [ ]:
delimiter = " # "
str3 = delimiter.join(t1)
print(str3)
print(type(str3))

## 9. Misc Tuple Methods in Python
- Tuples have built-in methods, but not as many as Lists do. Lets look at two of them:
    - The `t1.index(val)` method takes the value and returns the first index where that value resides in the tuple
    - The `t1.count(val)` method takes exactly one argument and returns the number of times a that value occurs in a tuple

In [ ]:
t1 = (3, 8, 1, 6, 0, 8, 4)
rv = t1.index(0)
print(rv)

In [ ]:
t1 = (3, 8, 1, 6, 8, 0, 8, 4)
rv = t1.count(4)
print(rv)

**Like Lists, you can apply `max()`, `min()`, and `sum()` functions on tuples with numeric elements**

In [ ]:
t1 = (3, 8, 1, 6, 0, 8, 4)
print("length of list: ", len(t1))
print("max element in list: ", max(t1))
print("min element in list: ",min(t1))
print("Sum of element in list: ",sum(t1))

**Like Lists, you can apply `in` and `not in` membership operators on Tuples**

In [ ]:
t1 = (3, 8, 1, 6, 0, 8, 4)

rv1 = 9 in t1

print(rv1)

rv2 = 9 not in t1
print(rv2)


t2 = ("XYZ", "ABC", "MNO", "ALI")
rv3 = "Dua" in t2
print(rv3)

**Comparing Objects and Values**

In [ ]:
#In case of strings, both variables str1 and str2 refers to the same memory location containing string object 'hello'
str1 = 'hello'
str2 = 'hello'
print(id(str1), id(str2))

print (str1 is str2)  # is operator is checking the memory address (ID) of two strings
print (str1 == str2)  # == operator is checking the contents of two strings

In [ ]:
#In case of tuples, both t1 and t2 refers to two different objects in the memory having same values
t1 = (1, 2, 3)
t2 = (1, 2, 3)
print(id(t1), id(t2))

print (t1 is t2)   # is operator is checking the memory address (ID) of two tuples
print (t1 == t2)   # == operator is checking the contents of two tuples element by element

In [ ]:
help(sorted)

## 10. Sorting a Tuple
- Pythonâ€™s built-in `sorted()` function can be used to sort iterable objects, such as lists, tuples, and dictionaries. - We have seen its usage in our Tuple session.
- The `sorted()` function sorts the items of the specified iterable object and creates a new object with the newly sorted values.
- It's syntax is as shown below:
```
    sorted(object, key=None, reverse=False)
```
- Where:
    - `object`: the iterable object that you want to sort (required)
    - `key`: the function that allows you to perform custom sort operations (optional)
    - `reverse`: specifies whether the object should be sorted in descending order (optional)- default value is False

In [ ]:
# Sorting a tuple by it values with numeric values

t1 = (3, 8, 1, 6, 0, 8, 4)

print("Original Tuple = ", t1)


list1 = sorted(t1)
# print(list1)
list2 = sorted(t1, reverse=True)

print("Ascending Sort: ", list1)
print("Descending Sort: ", list2)

In [ ]:
# Sorting a tuple with string values

t1 = ("XYZ", "ABC", "MNO", "ALI")
print("Original Tuple: ", t1)

list1 = sorted(t1)
list2 = sorted(t1, reverse=True)

print("Ascending Sort: ", list1)
print("Descending Sort: ", list2)

### b. Custom Sorting using `sorted()` Method

**Example 1: Suppose given a tuple with elements `('ccc', 'aaaa', 'd', 'bb')` and we want to sort it by length of strings inside the tuple so that the output is like : `('d', 'bb', 'ccc', 'aaaa)`**

```
    sorted(iterable, key=None, reverse=False)
```
- We write a one argument function, and pass that function to the `key` parameter of `sorted()` function
- The `sorted()` function will run this one argument function on all the elements of the tuple and return a single value, and build up a shadow list of those new values. 
- Suppose the one argument function in this case is the Python built-in function `len()`, which when called on every element of `tuple` will return a shadow list containing length of every string within the original tuple containing `[3,4,1,2]`
- The `sorted()` function will then sort elements of the tuple based on the values of the shadow list and returns the required sorted list :)

In [ ]:
t1 = ('ccc', 'aaaa', 'd', 'bb')
sorted(t1)

In [ ]:
#Example 1:
t1 = ('ccc', 'aaaa', 'd', 'bb')
sorted(t1, key=len)

**Example 2: Suppose given a tuple with elements `('abcz', 'xyza', 'bas', 'ehtisham')` and we want to sort it by last character of strings within the tuple so that the output is like : `('xyza', 'ehtisham', 'bas', 'abcz')`**

```
    sorted(iterable, key=None, reverse=False)
```
- We write a one argument function, and pass that function to the `key` parameter of `sorted()` function
- The `sorted()` function will run this one argument function on all the elements of the tuple and return a single value, and build up a shadow list of those new values. 
- This time the one argument function is a user defined function that receives a string and returns its last character. When called on every element of `tuple` will return a shadow list containing only the last character of every string within the original tuple containing `['z', 'a', 's', 'f']`
- The `sorted()` function will then sort elements of the tuple based on the values of the shadow list and returns the required sorted list :)

In [ ]:
def last(s):
    return s[-1]

t1 = ('abcz', 'xyza', 'bas', 'ehtisham')
rv = sorted(t1, key=last)
print(rv)
print(t1)

## Check your Concepts

Try answering the following questions to test your understanding of the topics covered in this notebook:

1. How tuples are different from list?
2. Can you add or remove elements in a tuple?
3. How do you create a tuple with just one element?
4. How do you convert a tuple to a list and vice versa?
5. How to create a nested tuple?
6. How to find a min, max value from a tuple?
7. How to compare two tuples, without iteration? (Hint: cmp)
8. How to find the index of a specific element of a tuple?
9. How to find the count of occurrence of element in Python Tuple?
10.How to delete Tuple in Python ?

In [ ]:
print(dir(tuple))

<h1 align="center" style="color:red" >Python-Sets </h1>

<br>
<br>

#### [Click me to learn more about Python Sets](https://docs.python.org/3/tutorial/datastructures.html#sets)

<img align="center" width="800" height="800"  src="images/datatypes1.png" >

> **A Set is an unordered and unindexed collection of heterogeneous items that is iterable, mutable and has no duplicate elements.**

- Like Lists, a set is created by placing comma separated values, but in curly brackets rather square brackets. 
- Like List, a set also allows us to store elements of different data types in one container.
- Like List, it is possible to add, remove, or modify values in a set.
- Any immutable data type can be an element of a set: a number, a string, a tuple. Mutable data types cannot be elements of the set.
- To be honest, this data structure is extremely useful and is underutilized by beginners, so try to keep it in mind!
- The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for membership testing and eliminating duplicate entries

<img align="center" width="400" height="400"  src="images/set-1.png" >

## Learning agenda of this notebook
1. How to create Sets?
2. Proof of concepts: Sets are heterogeneous, un-ordered, mutable, nested, and DOES NOT allow duplicate elements
3. Accessing elements of sets?
4. Slicing a set (can't be performed as there is no index associated with set values)
5. Set concatenation and repetition (can't be performed as on list and tuples)
6. Adding/Updating elements to a set using `add()`, and `update()` methods
7. Removing elements from a set using `pop()`, `remove()` and `discard()` methods. 
8. Converting string object to set and vice-versa (using type casting, `split()` and `join()`)
9. Elements of a set cannot be sorted (being unordered)
9. Misc set methods 
10.Some Built-in functions that can be used on sets (len, max, min, sum)
11. Misc Concepts
    - Union of sets 
    - Intersection of sets 
    - Difference of sets 
    - Symmetric Difference of sets 
    - Subsets 
    - Supersets 
    - Disjoint sets

In [ ]:
# help(set)

## 1. How to create Sets?
- A set is created by placing comma separated values in curly brackets `{}`. 
- The preferred of creating a set is by using `set()` method, and passing a list to it, as curly brackets are also used by dictionary object in Python.

In [ ]:
s1 = {1,2,3,4,5} #set of integers

s2 = set([1, 2, 3, 4, 5])
print(s1, type(s1))

print(s2, type(s2))

In [ ]:
s2 = {3.7, 6.5, 3.8, 7.95}   #set of floats
s2 = set([3.7, 6.5, 3.8, 7.95])
print(s2)

In [ ]:
s3 = {"hello", "this", "F", "good show"}   #set of strings
s3 = set(["hello", "this", "F", "good show"])
print(s3)

In [ ]:
s4 = {True, False, True, True, False}   #set of boolean
s4 = set([True, False, True, True, False])
print(s4)

In [ ]:
# creating an empty set
emptyset = {}  # this is not correct way

# to create empty set, we can use set()
s5 = set()
print(s5)
print(type(s5))
print(emptyset, type(emptyset))

In [ ]:
set1 = set(range(1,21,2))

list1 = list(range(1,21,2))

tuple1 = tuple(range(1,21,2))

print(set1,list1,tuple1, sep="\n\n")

## 2. Proof of concepts: Sets are heterogeneous, unordered, mutable, nested, and does not allow duplicate elements

### a. Sets are heterogeneous
- Sets are heterogeneous, as their elements/items can be of any data type

In [ ]:
s1 = {"Ehtisham", 30, 5.5}
print("s1: ", s1)

### b. Sets are unordered
- Sets are unordered means elements of a set are NOT associated by any index
- When you access set elements they may show up in different sequence. 
- Moreover, two sets having same elements in different order 
    - have different memory addresses
    - the `is` operator compares the memory adresses
    - the `==` operator compares the contents

In [ ]:
s2 = set(['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq'])
print(id(s2))

In [ ]:
a = {1, 2, 3}
b = {2, 3, 1}
print(id(a), id(b), a == b, a is b, sep="\n")

### c. Sets are mutable
- Yes, Python sets are mutable because the set itself may be modified, but the elements contained in the set must be of an immutable type.
- However, since sets cannot be indexed, so we can't change them using index withing subscript operator

In [ ]:
numbers = set([10, 20, 30, 40, 50])
# numbers[2] = 15   # Will flag an error because set elements cannot be indxed using ubscript operator

print("numbers: ", numbers)

### d. Sets CANNOT have duplicate elements

In [ ]:
# Sets do not allow duplicate elements
# The following line will not raise an error, however, 'Ehtisham' will be added to the set only once
names = {'Ehtisham', 'Ali', 'Ayesha', 'Ehtisham', 'Dua'}
print(names)

In [ ]:
# So when we want to remove duplication from list, we typecast it to a set
mylist = [2, 4, 5, 6, 8, 7, 3, 3, 2]

print("\nList: ", mylist)

myset = set(mylist)

print("\nList converted to set: ", myset)

newlist = list(myset)
print(newlist)

### e. Mutable data types cannot be elements of the set.

In [ ]:
# You can have a number, string, and tuple type of elements inside a set (being immutable)
s1 = {"Ehtisham", 30, 5.5, True, (10,'Ali')}
s1

In [ ]:
# You cannot have a list, set or dictionary inside a set (being mutable)
# s1 = {"Ehtisham", 30, 5.5, [10,'Ali']}
# s1

In [ ]:
# You cannot have a list, set or dictionary inside a set (being mutable)
# s1 = {"Ehtisham", 30, 5.5, {10,'Ali'}}

In [ ]:
# You cannot have a list, set or dictionary inside a set (being mutable)
# s1 = {"Ehtisham", 30, 5.5, {'key':'value'}}

### e. Nested Sets
- You can have tuple inside a set
- However, you CANNOT have a list, set, and dictionary objects inside a set, because sets cannot contain mutable values
- This is one situation where you may wish to use a frozenset, which is very similar to a set except that a frozenset is immutable.

In [ ]:
# Nested sets: sets can have another tuple as an item
s1 = {"Ehtisham", 30, 5.5, (10,'Ali')}
print(s1)

In [ ]:
# However, you cannot have a list inside a set, , because sets cannot contain mutable values (lists are mutable)
# s1 = {"Ehtisham", 30, 5.5, [10,'Ali']} # Error unhashable type list

In [ ]:
#Similarly, you cannot have a set within a set, because sets cannot contain mutable values (sets are mutable)
#s1 = {"Ehtisham", 30, 5.5, {10,'Ali'}} # Error unhashable type set

### f. Packing and Unpacking Sets

In [ ]:
# you can unpack set elements
myset = set(['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq'])
print(myset)
print(len(myset))
a, b, c, d, e = myset # the number of variables on the left must match the length of set
print (a, b, c, d, e, sep="\n")

**Note the randomness, because sets are unordered**

In [ ]:
# you can pack individual elements to a set
t1 = a, b, c, d, e # By default they are packed into a tuple
print(t1)
set2 = set(t1)      # So you have to type cast it to set
print (set2)
print(type(set2))

## 3. Different ways to access elements of a Set
- Since sets are unordered, i.e., items of a set have no associated index, therefore elements of a Set cannot be accessed by referring to an index
- However, you can access individual set elements using a for loop
- Ask if a specified value is present in a set, by using the `in` operator.

In [ ]:
# Set items cannot be accessed by referring to an index, since sets are unordered the items has no index. 
myset = set(['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq'])
myset = {'Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq'}
print("myset: ", myset)

In [ ]:
# But you can loop through the set items using a for loop
myset = set(['Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq'])
for i in myset:
    print(i, end=' ')

In [ ]:
# To check if a specific element is there in the set, use the in keyword
rv = 'fun' in myset
rv

## 4. You cannot perform Slicing on Sets
- Slicing is the process of obtaining a portion of a sequence by using its indices.
- Since no indices are associated with Set elements, so they do not support slicing or indexing in `[ ]` operator

## 5. You cannot perform Set Concatenation and Repetition
- The concatenation operator `+` and replication operator `*` does not work on sets, as there is no index associated with set elements. So concatenation and repetition using `+` and `*` operator doesnot make any sense

## 6. Adding elements to a Set
- Sets are dynamic, as we write our Python program, we can actually make changes to our already created set, whithout having to go for compiling it again. 
- If we have to add certain elements to an already created set, the original set gorws dynamically without the need of compiling/running the program again (as in case of heap memory in C/C++)

### a. Cannot Modify/Add elements to a set using [ ] operator

### b. Adding elements to a set using `set.add(value)` method
- The `set.add(val)` method is used to add an element to a set
- Only one element at a time can be added to the set by using `set.add()` method
- Lists and sets cannot be added to a set as elements because they are mutable (hashable)
- Tuples can be added because tuples are immutable and hence Hashable.

In [ ]:
help(set.add)

In [ ]:
#create an empty set
set1 = set()
set1.add(25)
set1.add(73)
set1

In [ ]:
# Adding an existing element
set1.add(25)
set1

In [ ]:
# Adding a tuple
set1.add((19,25))
# set1.add([19,25])

print("Set after adding three elements: ", set1)

### c. Adding elements to a set using `set.add(val)` or `set.update(val)` method
- The `set.add(val)` method is used to add a single element to a set
- The `set.update(val)` method is used to add two or more elements to a set
- If the value already exist no change occur
- Lists and sets cannot be added to a set as elements because they are not hashable 
- Tuples can be added because tuples are immutable and hence Hashable.

In [ ]:
s1 = set()
help(s1.add)

In [ ]:
set1 = set()
help(set1.update)

In [ ]:
# add() method is used to add a single element, passed as a list
set1 = set([4, 9, 12])
set1.add(99)
set1.add(4) # Note the duplicate element 4 will not be added twice
set1

In [ ]:
# update() method is used to add one, two or more elements, passed as a list
set1 = set([4, 9, 12])
set1.update([99])
set1.update([4, 3.5]) # Note the duplicate element 4 will not be added twice
set1

In [ ]:
# update() method is used to add one two or more elements, passed as a list
set3 = set([4, 9, 12])
set3.update(['Ehtisham', 'Ali', 45])
set3

In [ ]:
# You cannot add a single numeric value being not iterable
set2 = set([4, 9, 12])
set2.update([33])
set2

In [ ]:
# See what happens when you add a string 
set2 = set([4, 9, 12])
set2.update('Ehtisham')
set2.update(['Ehtisham'])
set2

In [ ]:
# the update() method also accepts a list having one or more tuples as its argument
set4 = set([4, 9, 12])
set4.update([(99, 88), (44, 33)])
set4

## 7. Removing elements from a set
- Sets are dynamic, as we write our Python program, we can actually make changes to our already created sets, whithout having to go for compiling it again. 
- If we have to remove certain elements from an already created set, the original set shrinks dynamically without the need of compiling/running the program again (as in case of heap memory in C/C++)

### a. Removing element from a set using `set.pop(index)` method
- The `set.pop()` method removes and return an arbitrary set element

In [ ]:
s1 = set()
help(s1.pop)

In [ ]:
s1 = {'Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq'}

print("Original set: ", s1)

x  = s1.pop()
print("Element popped is: ", x)

print("Set now is: ", s1)

### b. Removing element from a set using `set.remove(val)` method
- The `set.remove(val)` method is used to remove a specific element by value from a set without returning it
- The remove method is passed exactly one argument, which is the value to be removed and returns none/void

In [ ]:
s1 = set()
help(s1.remove)

In [ ]:
s2 = {'Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq'}


print("\nOriginal set: ", s2)

x = s2.remove('Data')

print("After remove('Data'): ", s2)

print("Return value of remove() is: ", x)

# If the element to be removed does not exist in the set remove() method will flag an error
#y = s2.remove('arif')  # Error: Element doesnâ€™t exist in the set.

### c. Removing element from a set using `set.discard(val)` method
- The `set.discard(val)` like `set.remove(val)` method is used to remove a specific element by value from a set without returning it
- The advantage of using `set.discard(val)` method is that, if the element doesnâ€™t exist in the set, no error is raised and the set remains unchanged.

In [ ]:
s1 = set()
help(s1.discard)

In [ ]:
s2 = {'Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq'}

y = s2.discard('ali')
print(s2,y)

### d. Using `set.clear()` method to remove all the set elements

In [ ]:
#use the clear() method to empty a set
s2 = {'Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq'}

s2

In [ ]:
s2.clear()
s2

### e. Using `del` Keyword to delete the set entirely from memory

In [ ]:
# use del keyword to delete entire set, (you cannot delete a specific element as it is non-indexed)
s1 = {'Learning', 'Practical', 'Data', 'Science', 'with', 'Ehtisham', 'Sadiq'}

s2

In [ ]:
del s2
print(s2)

## 8. Converting string object to set and vice-versa (using type casting, split() and join())

### a. Type Casting

In [ ]:
# convert a string into set using set()
str1 = 'Data Science using Python'    #this is a string
print("Original string: ", str1)

s1 = set(str1)
print("s1: ", s1, "and its type is:  ", type(s1), sep="\n")

### b. Use `str.split()` to Split a Tuple into Strings
- Used to tokenize a string based on some delimiter, which can be stored in a Tuple
- It returns a list having tokens of the string based on spaces if no argument is passed

In [ ]:
str1 = ""
help(str1.split)

In [ ]:
str1 = 'Data Science using Python'    #this is a string

set1 = set(str1.split(' '))

print(set1)
print(type(set1))

In [ ]:
str2 = "Data Science is GR8 Degree"    #this is a string
set2 = set(str2.split('c'))
set2

### c. Use `str.join()` to Join Strings into a List
- It is the reverse of `str.split()` method, and is used to joing multiple strings by inserting the string in between on which this method is called

In [ ]:
str1 = ""
help(str1.join)

In [ ]:
tuple1 = {'This', 'is', 'getting', 'more', 'and', 'more', 'interesting'}
tuple1

In [ ]:
str2 = ' '.join(tuple1)
print(str2)
print(type(str2))

In [ ]:
delimiter = " @ "
str3 = delimiter.join(tuple1)
print(str3)
print(type(str3))

## 9. Elements of a Set Cannot be Sorted
- Given that sets are unordered, it is not possible to sort the values of a set. So you cannot call the built-in function `sorted()` or the `list.sort()` method on sets

## 10.  Misc Concepts

**Like Lists and Tuples, you can apply `max()`, `min()`, and `sum()` functions on Sets with numeric elements**

In [ ]:
s1 = set([3, 8, 1, 6, 0, 8, 4])
print(s1)
print("length of set: ", len(s1))
print("max element in set: ", max(s1))
print("min element in list: ",min(s1))
print("Sum of element in list: ",sum(s1))

**Like Lists and Tuples, you can apply `in` and `not in` membership operators on Sets**

In [ ]:
s1 = set([3, 8, 1, 6, 0, 8, 4])

rv1 = 9 in s1
print(rv1)

rv2 = 9 not in s1
print(rv2)


s2 = set(["XYZ", "ABC", "MNO", "Ehtisham"])
rv3 = "ALI" in s2
print(rv3)

**Comparing Objects and Values**

In [ ]:
#In case of strings, both variables str1 and str2 refers to the same memory location containing string object 'hello'
str1 = 'hello'
str2 = 'hello'
print(id(str1), id(str2))

print (str1 is str2)  # is operator is checking the memory address (ID) of two strings
print (str1 == str2)  # == operator is checking the contents of two strings

In [ ]:
#In case of sets, both t1 and t2 refers to two different objects in the memory having same values
s1 = set([1, 2, 3])
s2 = set([1, 2, 3])
print(id(s1), id(s2))

print (s1 is s2)   # is operator is checking the memory address (ID) of two sets
print (s1 == s2)   # == operator is checking the contents of two sets element by element

## 11. Special Operations  related to Sets

### a. Union of sets
- A `s1.union(s2)` method or `s1 | s2`, returns a new set containing all values that are in s1, or s2, or both

![](images/Union-in-python.jpg)

In [ ]:
s1 = set()
s2 = set()
#help(s1 | s2)
help(s1.union)

In [ ]:
set1 = {'Ehtisham', 'Ehtisham'}
set2 = {'Ayesha', 'Ali', 'Ehtisham'}

set3 = set1 | set2
set4 = set1.union(set2)

print("set1: ", set1)
print("set2: ", set2)
print("set1 | set2: ", set3)
print("set1.union(set2) : ", set4)

### b. Intersection of sets
- A `s1.intersection(s2)` method or `s1 & s2`, returns a new set containing all values that are common in in s1 and s2

![](images/Intersection-of-Sets.png)

In [ ]:
s1 = set()
help(s1.intersection)

In [ ]:
set1 = {'Ehtisham', 'Ehtisham'}
set2 = {'Ayesha', 'Ali', 'Ehtisham'}


set3 = set1 & set2
set4 = set1.intersection(set2)

print("set1: ", set1)
print("set2: ", set2)
print("set1 & set2: ", set4)

### c. Difference of sets
- A `s1.difference(s2)` method or `s1 - s2`, returns a new set containing all values of s1 that are not there in s2

![](images/difference-of-sets-aminusb-and-bminusa---venn-diagram.jpg)

In [ ]:
s1 = set()
help(s1.difference)

In [ ]:
set1 = {'Ehtisham', 'Ehtisham', 'dua'}
set2 = {'Ayesha', 'Ali', 'Ehtisham'}


set3 = set1 - set2
set4 = set1.difference(set2)

print("set1: ", set1)
print("set2: ", set2)
print("set1 - set2: ", set4)

### d. Symmetric Difference of sets
- A `s1.symmetric_difference(s2)` method or `s1 ^ s2`, returns a new set containing all elements that are in exactly one of the sets, equivalent to `(s1 | s2)  - (s1 & s2)`

In [ ]:
s1 = set()
help(s1.symmetric_difference)

In [ ]:
set1 = {'Ehtisham', 'Ehtisham', 'dua'}
set2 = {'Ayesha', 'Ali', 'Ehtisham'}

set3 = set1 ^ set2
set4 = set1.symmetric_difference(set2)

print("set1: ", set1)
print("set2: ", set2)
print("set1 ^ set2: ", set4)

In [ ]:
# s1 = set1.union(set2)
# print(s1)
# s2 = set1.intersection(set2)
# print(s2)
# # set1.union(set2) - set1.intersection(set2)
# s3 = s1-s2
# print(s3)

### e. Checking Subset
- The `s1.issubset(s2)` method or `s1 <= s2`, returns True if s1 is a subset of s2

![](images/subset_example1_0.png)

In [ ]:
s1 = set()
help(s1.issubset)

In [ ]:
s1 = {1,2,3,4,5,6,7}
s2 = {1,2,3,4}

print(s2.issubset(s1))     # is s2 a subset of s1
print(s1 <= s2)            # is s2 a subset of s1

### f. Checking Superset
- The `s1.issuperset(s2)` method or `s1 >= s2`, returns True if s1 is a superset of s2

<img align="center" width="200" height="200"  src="images/Subset.png" >

In [ ]:
s1 = set()
help(s1.issuperset)

In [ ]:
s1 = {1,2,3,4,5,6,7}
s2 = {1,2,3,4}

print(s1.issuperset(s2)) # is s1 a superset of s2
print(s1 >= s2)          # is s1 a superset of s2

### g. Checking Disjoint
- The `s1.isdisjoint(s2)` method, returns True if two sets have a null intersection

![](images/disjoint-of-sets-using-Venn-diagram.png)

In [ ]:
s1 = set()
help(s1.isdisjoint)

In [ ]:
s1 = {1,2,3,4,5,6,7}
# s1.intersection_update
s2 = {1,2,3,4}
print(s1.isdisjoint(s2))

# Another example
s3 = {1,2,3,4}
s4 = {5,6,7,8}
print(s3.isdisjoint(s4))

![](images/PythonSetOperators.png)

# Check Concepts:

- Are the elements of a set ordered or unordered?
- Does a set allow you to store duplicate elements?
- How do you create an empty set?
- How can you determine whether a specific element exists in a set?
- What is the difference between the remove and discard methods?
- Write code that prints all strings that are in both set s and set t.
- Write code that prints all strings that are in set s, but not in set t.
- Which operator is used to test whether an element is a member of a set?
- Which method produces a new set with the elements that are contained in both sets?
- Which method produces a new set with the elements that belong to the first set but not the second.
- What is the difference between a set and a tuple?
- What is the difference between a set and a list?

In [ ]:
print(dir(set))